form {
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(80,80,80);
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
label {
  display: block;
  margin-top: 10px;
}

label:nth-child(4) {
  float: left;
}
input {
  display: block;
  width: 200px;
}
input[type="submit"] {
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(80,80,80);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  position: relative;
  top: 15px;
}

input[name="verificationCode"] {
  width: 130px;
  float: left;
}

input[type="submit"][name="Send"] {
  position: static;
  width: 50px;
  float: right;
  margin-top: 2px;
}

iframe {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  margin-top: 40px;
}
